@import url('https://fonts.googleapis.com/css2?family=Alata&family=Play:wght@400;700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;1,100&family=Play:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray:  hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

