@import url('https://fonts.googleapis.com/css2?family=Alata&family=Play:wght@400;700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;1,100&family=Play:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray:  hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background-image: url(../assets/images/desktop/image-hero.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;  

    .header-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 0;
    }

    nav {
        ul {
            display: flex;
            gap: 1.5em;
            list-style: none;
            color: $white;
            font-family: "Alata", sans-serif;
            cursor: pointer;
        }
    
        li {
            a {
                position: relative; // Asegúrate de que el contenedor tenga position: relative
                text-decoration: none;
                color: $white;
    
                &::after {
                    content: "";
                    position: absolute;
                    width: 50%; // Ajusta la longitud del subrayado
                    height: 2px; // Ajusta el grosor del subrayado
                    background-color: currentColor; // Utiliza el color actual del texto
                    bottom: -4px; // Ajusta esta propiedad para mover la línea más abajo
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 2px; // Ajusta el borde redondeado
                    opacity: 0;
                    transition: opacity 0.3s;
                }
    
                &:hover::after {
                    opacity: 1;
                }
            }
        }
    }
    
    .header-text {
        padding: 4rem 11rem;
        font-family: "Josefin Sans", sans-serif;
        color: $white;
      
        h2 {
            border: solid 2px $white;
            padding: 25px;
            width: 30rem;
            font-size: 3rem;
        } 
    }

    // **Agregar los nuevos estilos aquí:**
    .menu-icon {
        display: none;
        cursor: pointer;
    }

    .nav-menu {
        ul {
            display: flex;
        }
    }

    @media (max-width: 768px) {
        .menu-icon {
            display: block;
            z-index: 8;
            width: 20px;
            height: 20px;
        }
    
        .nav-menu {
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            background-color: $black;
            transform: translateX(100%);
            z-index: 7;
            display: flex;
            flex-direction: column;
            align-items: flex-start; // Alinea el logo y el menú a la izquierda
    
            .menu-logo {
                width: 120px; // Ajusta según sea necesario
                margin-bottom: 30px; // Espacio entre el logo y los enlaces del menú
                margin-top: 50px;
            }
    
            ul {
                padding: 0; // Elimina el padding para ajustar el menú
                margin-top: 50px; // Espacio entre el logo y los enlaces
                flex-direction: column;
                text-align: left; // Alinea los enlaces a la izquierda
                justify-content: flex-start; // Alinea el contenido al inicio
                width: 100%; // Ocupa todo el ancho disponible
                font-family: "Josefin Sans", sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                gap: 1;
            }
        }
    
        .nav-menu.active {
            transform: translateX(0);
            padding: 0 20px;
        }
    
        .header-logo {
            display: none; // Oculta el logo original en pantallas pequeñas
        }
    
        .header-text {
            padding: 3rem 8rem;
            h2 {
                width: 25rem;
                font-size: 3rem;
            }
        }
    }
    
    @media (min-width: 769px) {
        .menu-logo {
            display: none; // Oculta el logo dentro del menú en pantallas grandes
        }
    }

    @media (max-width: 500px) {
        .header-text {
            padding: 3rem 1rem;
            h2 {
                width: 20rem;
                font-size: 2rem;
            }
        }
    }
    
    

}
